<!DOCTYPE html>
<meta charset="UTF-8">
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<link rel="stylesheet" href="/assets/css/plugins.min.css"
	type="text/css">
<link rel="stylesheet" href="/assets/css/style.min.css" type="text/css">
<body>
	<main class="row mt-2">
		<span id="eventCount" th:text="${numDeviceEventsWithAlarm}"></span>
		<div th:each="p:${list}"
			class="product-details-area pt-100px pb-100px">
			<div class="container">
				<div class="row">
					<div
						class="col-lg-6 col-sm-12 col-xs-12 mb-lm-30px mb-md-30px mb-sm-30px">
						<!-- Swiper -->
						<div class="swiper-container zoom-top">
							<div class="swiper-wrapper">
								<div th:each="t:${list2}" class="swiper-slide">
									<img class="img-responsive m-auto" style="height: 300px"
										th:src="@{|/assets/images/${t.name}|}" alt=""> <a
										class="venobox full-preview" data-gall="myGallery"
										th:href="@{|/assets/images/${t.name}|}"> <i
										class="fa fa-arrows-alt" aria-hidden="true"></i>
									</a>
								</div>

							</div>
						</div>
						<div
							class="swiper-container mt-20px zoom-thumbs slider-nav-style-1 small-nav">
							<div class="swiper-wrapper">
								<div th:each="t:${list2}" class="swiper-slide">
									<img class="img-responsive m-auto" style="height: 100px"
										th:src="@{|/assets/images/${t.name}|}" alt="">
								</div>

							</div>
							<!-- Add Arrows -->
							<div class="swiper-buttons">
								<div class="swiper-button-next"></div>
								<div class="swiper-button-prev"></div>
							</div>
						</div>

					</div>
					<!--  -->
					<div class="col-lg-6 col-sm-12 col-xs-12" data-aos="fade-up"
						data-aos-delay="200">
						<div class="product-details-content quickview-content ml-25px">
							<h2>[[${p.name}]]</h2>
							<div class="pricing-meta" style="font-size: 30px">

								<span class="price"> <span class="new">[[${#numbers.formatDecimal(p.price-(p.price*p.discount.number),
										0, 'COMMA', 0, 'POINT')}]]</span>
								</span>

							</div>
							<div class="pro-details-rating-wrap">
								<div class="rating-product">
									<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
										class="fa fa-star"></i> <i class="fa fa-star"></i> <i
										class="fa fa-star"></i>
								</div>
								<span class="read-review"><a class="reviews" href="#">(5
										Customer Review)</a></span>
							</div>
							<p class="mt-30px">[[${p.description}]]</p>
							<div class="pro-details-color-size d-flex">
								<!-- Right Side Start -->
								<div class="select-shoing-wrap d-flex align-items-center">
									<div class="shot-product">
										<p>Color:</p>
									</div>
									<div class="shop-select">
										<form action="/product/list" method="get">
										<select class="shop-sort" onchange="this.form.submit()" name="clor">
											<option data-display="Balck" th:each="cl :${color}" th:value="${cl.id}">[[${cl.color}]]</option>

										</select>
										</form>
									</div>
								</div>
								<!-- Right Side End -->
								<!-- Right Side Start -->
								<div
									class="select-shoing-wrap d-flex align-items-center ml-30px">
									<div class="shot-product">
										<p>Size:</p>
									</div>
									<div class="shop-select show">
										<select class="shop-sort">
											<option data-display="XL">[[${p.size}]] inch</option>

										</select>
									</div>
								</div>
								<!-- Right Side End -->
							</div>
							<div
								class="pro-details-categories-info pro-details-same-style d-flex m-0">
								<span>SKU:</span>
								<ul class="d-flex">
									<li><a href="#">Ch-256xl</a></li>
								</ul>
							</div>
							<div
								class="pro-details-categories-info pro-details-same-style d-flex m-0">
								<span>Brand: </span>
								<ul class="d-flex">
									<li><a href="#">[[${p.brand.name}]]</a></li>

								</ul>
							</div>
							<div
								class="pro-details-categories-info pro-details-same-style d-flex m-0">
								<span>Tags: </span>
								<ul class="d-flex">
									<li>[[${p.category.name}]]</li>
									
								</ul>
							</div>
							<div class="pro-details-quality">
								<div class="cart-plus-minus">
									<input class="cart-plus-minus-box" type="text" name="qtybutton"
										value="1" />
								</div>
								<div class="pro-details-cart" th:if="${p.quantity} >0">
									<a th:attr="ng-click=@{|cart.addcart(${p.id})|}" class="add-cart">Add To Cart</a>
								</div>
								<div class="pro-details-cart" th:unless="${p.quantity} >0" >
									<a class="add-cart">Hết Hàng</a>
								</div>
								<!-- <th:block th:if="${favorite.id !=null}">
									<span
										th:if="${favorite.user.username == #request.remoteUser}
								 and ${favorite.product.id == p.id} and ${favorite.status==true}">
										<div
											class="pro-details-compare-wishlist pro-details-wishlist ">
											<a id="btnHeart"
												th:attr="onclick='favoriteProduct(\''+${p.id}+'\')'"><i
												class="bi bi-heart-fill"></i></a>
										</div>
									</span>

									<span
										th:if="${favorite.user.username == #request.remoteUser}
								 and ${favorite.product.id == p.id} and ${favorite.status==false}">
										<div
											class="pro-details-compare-wishlist pro-details-wishlist ">
											<a id="btnHeart"
												th:attr="onclick='favoriteProduct(\''+${p.id}+'\')'"><i
												class="bi bi-heart"></i></a>
										</div>
									</span>


								</th:block> -->
								<th:block th:if="${#request.remoteUser}">
									<div th:if="${ah==1}" style="margin-top: 10px">
										<a id="btnHeart"
											style="font-size: 30px; margin-left: 10px; margin-top: 12px"
											th:attr="onclick='favoriteProduct(\''+${p.id}+'\')'"> <i
											th:if="${favorite.user.username == #request.remoteUser}
								 and ${favorite.product.id == p.id} and ${favorite.status==false}"
											class="bi bi-heart"></i> <i
											th:if="${favorite.user.username == #request.remoteUser}
								 and ${favorite.product.id == p.id} and ${favorite.status==true}"
											class="bi bi-heart-fill"></i>
										</a>
									</div>
									<div th:unless="${ah==1}">
										<a style="font-size: 30px; margin-left: 10px; margin-top: 10px" th:href="@{|/favorite/create/${p.id}|}"><i class="bi bi-heart"></i></a>
									</div>
								</th:block>





								<div class="pro-details-compare-wishlist pro-details-wishlist " th:if="${p.quantity>0}">
									<a th:attr="ng-click=@{|cart.add(${p.id})|}"><i
										class="pe-7s-refresh-2"></i></a>
								</div>
							</div>
						</div>
						<!-- product details dfescription area start -->
						<div class="description-review-wrapper">
							<div class="description-review-topbar nav">
								<button data-bs-toggle="tab" data-bs-target="#des-details2">Information</button>
								<button class="active" data-bs-toggle="tab"
									data-bs-target="#des-details1">Description</button>
								<button data-bs-toggle="tab" data-bs-target="#des-details3">Reviews
								</button>
							</div>
							<div class="tab-content description-review-bottom">
								<div id="des-details2" class="tab-pane">
									<div class="product-anotherinfo-wrapper text-start">
										<ul>
											<li><span>Screen:</span> [[${p.screen}]]</li>
											<li><span>Graphics processor:</span> [[${p.gpu}]]</li>
											<li><span>Operating system:</span> [[${p.hdh}]]</li>
											<li><span>Battery capacity:</span>[[${p.battery}]]</li>
											<li><span>SIM</span> [[${p.sim}]]</li>

										</ul>
									</div>
								</div>
								<div id="des-details1" class="tab-pane active">
									<div class="product-description-wrapper">
										<p>Mobile phones, especially smart phones, bring a lot of
											benefits in mordern world. It’s a means of communication, an
											entertainment device and with the Internet, we can do
											everything with our phones. Also, it helps us to learn things
											more easily.</p>
									</div>
								</div>
								<div id="des-details3" class="tab-pane">
									<div class="row">
										<div class="col-lg-12">
											<div class="review-wrapper">
												<div th:each="re:${review}" class="single-review">
													<div class="review-img">
														<img th:src="@{|/assets/images/${re.user.photo}|}" alt="" />
													</div>
													<div class="review-content">
														<div class="review-top-wrap">
															<div class="review-left">
																<div class="review-name">[[${re.user.username}]]</div>
																<div th:if="${re.rating} ==5" class="rating-product">
																	<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
																		class="fa fa-star"></i> <i class="fa fa-star"></i> <i
																		class="fa fa-star"></i>
																</div>

																<div th:if="${re.rating} ==4" class="rating-product">
																	<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
																		class="fa fa-star"></i> <i class="fa fa-star"></i>

																</div>

																<div th:if="${re.rating} ==3" class="rating-product">
																	<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
																		class="fa fa-star"></i>

																</div>

																<div th:if="${re.rating} ==2" class="rating-product">
																	<i class="fa fa-star"></i> <i class="fa fa-star"></i>

																</div>

																<div th:if="${re.rating} ==1" class="rating-product">
																	<i class="fa fa-star"></i>

																</div>

																<div th:if="${re.rating} ==0" class="rating-product">

																</div>
															</div>
															<div class="review-left " style="margin-left: 10px">
																<a href="#">Reply</a>
															</div>
														</div>
														<div class="review-bottom">
															<p>[[${re.comment}]]</p>
														</div>
													</div>
												</div>
												<!-- <div class="single-review child-review">
													<div class="review-img">
														<img src="assets/images/review-image/2.png" alt="" />
													</div>
													<div class="review-content">
														<div class="review-top-wrap">
															
														</div>
														
													</div>
												</div> -->
											</div>
										</div>
										<div class="col-lg-12">
											<div class="ratting-form-wrapper pl-50">
												<h3>Add a Review</h3>
												<div class="ratting-form">
													<form action="/review/add">
														<input type="hidden" th:value="${p.id}" name="pid">
														<div class="star-box">
															<span>Your rating: <input name="rating"
																placeholder="rating" type="number" min="0" max="5" /></span>
															<div class="rating-product">
																<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
																	class="fa fa-star"></i> <i class="fa fa-star"></i> <i
																	class="fa fa-star"></i>
															</div>
														</div>
														<div class="row">

															<div class="col-md-12">
																<div class="rating-form-style form-submit">
																	<textarea name="comment" placeholder="Message"></textarea>
																	<th:block th:if="${#request.remoteUser}">
																		<button
																			class="btn btn-primary btn-hover-color-primary "
																			type="submit" value="Submit">Submit</button>
																	</th:block>
																</div>
															</div>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- product details description area end -->
					</div>
				</div>
			</div>
		</div>
		<!-- Product Area Start -->
		<div class="product-area related-product">
			<div class="container">
				<!-- Section Title & Tab Start -->
				<div class="row">
					<div class="col-12">
						<div class="section-title text-center m-0">
							<h2 class="title">Related Products</h2>
							<p>There are many variations of passages of Lorem Ipsum
								available</p>
						</div>
					</div>
				</div>
				<!-- Section Title & Tab End -->
				<div class="row">
					<div class="col">
						<div
							class="new-product-slider swiper-container slider-nav-style-1">
							<div class="swiper-wrapper">
								<div th:each="o:${list.brand.products}" class="swiper-slide">
									<!-- Single Prodect -->
									<div class="product">
										<span class="badges"> <span class="new">New</span>
										</span>
										<div class="thumb">
											<a th:href="@{|/product/list/${o.id}|}" class="image"> <img
												th:src="@{|/assets/images/${o.image}|}" alt="Product" /> <img
												class="hover-image" th:src="@{|/assets/images/${o.image}|}"
												alt="Product" />
											</a>
										</div>
										<div class="content">
											<span class="category"><a href="#">Accessories</a></span>
											<h5 class="title">
												<a href="single-product.html">[[${o.name}]]</a>
											</h5>
											<span class="price"> <span class="new">$38.50</span>
											</span>
										</div>
										
									</div>
								</div>
							</div>
							<!-- Add Arrows -->
							<div class="swiper-buttons">
								<div class="swiper-button-next"></div>
								<div class="swiper-button-prev"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			function favoriteProduct(id) {
				var url = '/favorite/add/' + id;
				$.get(url).done(function(data) {
					$('#btnHeart').replaceWith(data);
				});
				
			}
		</script>
	</main>
</body>
</html>
