<!DOCTYPE html>
<meta charset="UTF-8">
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<link rel="stylesheet" href="/assets/css/plugins.min.css"
	type="text/css">
<link rel="stylesheet" href="/assets/css/style.min.css" type="text/css">

<body>
	<main class="row mt-2">
		<div class="shop-category-area pt-100px pb-100px">
			<div class="container">
				<div class="row">
					<div class="col-lg-9 order-lg-last col-md-12 order-md-first">
						<!-- Shop Top Area Start -->
						<div class="shop-top-bar d-flex">
							<p class="compare-product">
								<span>12</span>/<span>[[${count}]] </span > <span style="color: black;">Sản phẩm</span>
							</p>
							<!-- Left Side End -->
							<div class="shop-tab nav">
								<button data-bs-target="#shop-grid" data-bs-toggle="tab">
									<i class="fa fa-th" aria-hidden="true"></i>
								</button>
								<button class="active" data-bs-target="#shop-list"
									data-bs-toggle="tab">
									<i class="fa fa-list" aria-hidden="true"></i>
								</button>
							</div>
							<!-- Right Side Start -->
							<div class="select-shoing-wrap d-flex ">
								<div class="shot-product">
									<p style="font-size: 15px; margin-top: 7px">Sắp xếp:</p>
								</div>
								<!-- Single Wedge End -->
								<div class="header-bottom-set dropdown" style="margin-top: 7px">
									<button class="dropdown-toggle header-action-btn"
										data-bs-toggle="dropdown">
										Mặc định <i class="fa fa-angle-down"></i>
									</button>
									<ul class="dropdown-menu dropdown-menu-right">
										<li><a class="dropdown-item" href="/product/listall/atoz">Tên,
												A - Z</a></li>
										<li><a class="dropdown-item" href="/product/listall/ztoa">Tên,
												Z - A</a></li>
										<li><a class="dropdown-item"
											href="/product/listall/pricelowtohigh">Giá, Thấp - Cao</a></li>
										<li><a class="dropdown-item"
											href="/product/listall/pricehightolow">Giá, Cao - Thấp</a></li>
										<li><a class="dropdown-item"
											href="/product/listall/sortnew">Sản phẩm mới</a></li>
										<li><a class="dropdown-item"
											href="/product/listall/sortold">Sản phẩm củ</a></li>
									</ul>
								</div>
								<!-- Single Wedge Start -->
							</div>
							<!-- Right Side End -->
						</div>

						<!-- Shop Top Area End -->
						<!-- Shop Bottom Area Start -->
						<div class="shop-bottom-area">
							<!-- Tab Content Area Start -->
							<div class="row">
								<div class="col">
									<div class="tab-content">
										<div class="tab-pane fade show active" id="shop-grid">
											<div class="row mb-n-30px">
												<div th:each="c :${list}"
													class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-30px">
													<!-- Single Prodect -->
													<div class="product">
														<span class="badges"> <span class="new">Mới</span>
														</span>
														<div class="thumb">
															<a th:href="@{|/product/list/${c.id}|}" class="image"> <img
																th:src="@{|/assets/images/${c.image}|}" alt="Product" />
																<img class="hover-image"
																th:src="@{|/assets/images/${c.image}|}" alt="Product" />
															</a>
														</div>
														<div class="content">
															<span class="category"><a href="#">[[${c.getBrand().getName()}]]</a></span>
															<h5 class="title">
																<a th:href="@{|/product/list/${c.id}|}">[[${c.name}]] </a>
															</h5>
															<span class="price"> <span
																th:if="${c.discount.number>0}"> <span class="old">[[${#numbers.formatDecimal(c.price,
																		0, 'COMMA', 0, 'POINT')}]]</span> <span class="new">[[${#numbers.formatDecimal(c.price-(c.price*c.discount.number),
																		0, 'COMMA', 0, 'POINT')}]]</span>
															</span> <span th:unless="${c.discount.number>0}"> <span
																	class="new">[[${#numbers.formatDecimal(c.price-(c.price*c.discount.number),
																		0, 'COMMA', 0, 'POINT')}]]</span>
															</span>
															</span>
														</div>
														<div class="actions">
															<button th:attr="ng-click=@{|cart.addcart(${c.id})|}"
																title="Add To Cart" class="action add-to-cart"
																data-bs-toggle="modal"
																data-bs-target="#exampleModal-Cart">
																<i class="pe-7s-shopbag"></i>
															</button>
															<button th:attr="ng-click=@{|cart.find(${c.id})|}"
																class="action wishlist" title="Wishlist"
																data-bs-toggle="modal"
																data-bs-target="#exampleModal-Wishlist">
																<i class="pe-7s-like"></i>
															</button>
															<span th:if="${c.quantity} >0" style="margin-left: 10px">
															<button th:attr="ng-click=@{|cart.add(${c.id})|}"
																class="action compare" title="Compare"
																data-bs-toggle="modal"
																data-bs-target="#exampleModal-Compare">
																<i class="pe-7s-refresh-2"></i>
																<!-- <a th:attr="ng-click=@{|cart.add(${p.id})|}" href="#"><i
															class="fa fa-shopping-cart"></i> -->
															</button>
															</span>
														</div>
													</div>
												</div>











											</div>
										</div>
										<div class="tab-pane fade mb-n-30px " id="shop-list">
											<div class="shop-list-wrapper mb-30px">
												<div th:each="c: ${list}" class="row">
													<div class="col-md-5 col-lg-5 col-xl-4 mb-lm-30px mb-2">
														<div class="product">
															<div class="thumb">
																<a th:href="@{|/product/list/${c.id}|}" class="image"> <img
																	th:src="@{|/assets/images/${c.image}}|" alt="Product" />
																	<img class="hover-image"
																	th:src="@{|/assets/images/${c.image}}|" alt="Product" />
																</a> <span class="badges"> <span class="new">New</span>
																</span>
															</div>
														</div>
													</div>
													<!-- tab 2  -->
													<div class="col-md-7 col-lg-7 col-xl-8">
														<div class="content-desc-wrap">
															<div class="content">
																<span class="category"><a href="#">[[${c.getBrand().getName()}]]</a></span>
																<h5 class="title">
																	<a th:href="@{|/product/list/${c.id}|}">[[${c.name}]]</a>
																</h5>
																<p>[[${c.description}]]</p>
															</div>
															<div class="box-inner">
																<span class="price"> <span
																	th:if="${c.discount.number>0}"> <span
																		class="old">[[${#numbers.formatDecimal(c.price,
																			0, 'COMMA', 0, 'POINT')}]]</span> <span class="new">[[${#numbers.formatDecimal(c.price-(c.price*c.discount.number),
																			0, 'COMMA', 0, 'POINT')}]]</span>
																</span> <span th:unless="${c.discount.number>0}"> <span
																		class="new">[[${#numbers.formatDecimal(c.price-(c.price*c.discount.number),
																			0, 'COMMA', 0, 'POINT')}]]</span>
																</span>
																</span>
																<div class="actions">
																	<button th:attr="ng-click=@{|cart.addcart(${c.id})|}"
																title="Add To Cart" class="action add-to-cart"
																data-bs-toggle="modal"
																data-bs-target="#exampleModal-Cart">
																<i class="pe-7s-shopbag"></i>
															</button>
															<button th:attr="ng-click=@{|cart.find(${c.id})|}"
																class="action wishlist" title="Wishlist"
																data-bs-toggle="modal"
																data-bs-target="#exampleModal-Wishlist">
																<i class="pe-7s-like"></i>
															</button>
															<div class="pro-details-cart" th:if="${c.quantity} >0" style="margin-left: 10px">
															<button th:attr="ng-click=@{|cart.add(${c.id})|}"
																class="action compare" title="Compare"
																data-bs-toggle="modal"
																data-bs-target="#exampleModal-Compare">
																<i class="pe-7s-refresh-2"></i>
																<!-- <a th:attr="ng-click=@{|cart.add(${p.id})|}" href="#"><i
															class="fa fa-shopping-cart"></i> -->
															</button>
															</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>











										</div>
									</div>
								</div>
							</div>
							<!-- Tab Content Area End -->
							<!--  Pagination Area Start -->
							<div class="pro-pagination-style text-center text-lg-end"
								data-aos="fade-up" data-aos-delay="200">
								<div class="pages" th:if="${pageTotalPages >1}">
									<ul>
										<li th:class="${pageNumber==1 ? 'hidden':''}"><a
											class="page-link"
											th:href="@{${pageNumber>1} ? ${'?page=' + (pageNumber-1)}}">
												<i class="fa fa-angle-left"></i>
										</a></li>

										<li th:each="i: ${#numbers.sequence(1, pageTotalPages)}"
											th:class="${pageNumber ==i} ? 'active':''"><a
											class="page-link" th:href="@{'?page=' +${i}}" th:text=${i}>
												<i class="bi bi-caret-left"></i>
										</a></li>


										<li th:class="${pageNumber == pageTotalPages} ? 'hidden':''">
											<a class="page-link active"
											th:href="@{${pageNumber< pageTotalPages} ? ${'?page=' +(pageNumber +1)}}">
												[[${pageNumber}]]/[[${pageTotalPages}]]</a>
										</li>


									</ul>
								</div>

								<!-- <div class="pages">
									<ul>

										<span th:if="${pageNumber - 1} >=0">
											<li class="li"><a class="page-link"
												href="/product/listall?page=0"> <i
													class="fa fa-angle-left"></i></a></li>
											<li class="li"><a class="page-link"
												th:href="@{|/product/listall?page=${pageNumber - 1}|}"><i
													class="bi bi-caret-left"></i></a></li>
										</span>

										<li class="li"><a class="page-link active" href="#">[[${pageNumber}]]/[[${pageTotalPages
												- 1}]]</a></li>
										<span th:if="${pageNumber } < ${pageTotalPages - 1}">
											<li class="li"><a class="page-link"
												th:href="@{|/product/listall?page=${pageNumber + 1}|}"><i
													class="bi bi-caret-right"></i></a></li>
											<li class="li"><a class="page-link"
												th:href="@{|/product/listall?page=${pageTotalPages - 1}|}">
													<i class="fa fa-angle-right"></i>
											</a>
										</span>
										</li>
									</ul>
								</div> -->
							</div>
							<!--  Pagination Area End -->
						</div>
						<!-- Shop Bottom Area End -->
					</div>
					<!-- Sidebar Area Start -->
					<div class="col-lg-3 order-lg-first col-md-12 order-md-last">
						<div class="shop-sidebar-wrap">
							<!-- Sidebar single item -->

							<!-- Sidebar single item -->
							<div class="sidebar-widget mt-8">
								<h4 class="sidebar-title" style="margin-left: 25px">Bộ lọc theo giá</h4>
								<form action="/product/findbyprice" method="get">
									<div class="price-filter">
										<div class="row mx-auto mt-4">
											<div class=" col">
												<input type="text" id="minamount" th:value="${min}"
													name="min" value="0" class="text-center form-control" />
											</div>
											<div class=" col mt-2">
												<input type="text" id="maxamount"
													class="text-center form-control" th:value="${max}"
													name="max" />
											</div>
										</div>
										<div class="price-slider-amount">
											<input type="text" id="amount" class="p-0 h-auto lh-1"
												name="" />
										</div>
										<div id="slider-range"></div>
									</div>
									<button type="submit" class="button type3">Search</button>
								</form>
							</div>
							<!-- Sidebar single item -->
							<div class="sidebar-widget">
								<h4 class="sidebar-title">Màu</h4>
								<div class="sidebar-widget-color">
									<ul class="d-flex flex-wrap" name="color">
										<li value="xanh"><a href="#" class="color-1"></a></li>
										<li><a href="#" class="color-2"></a></li>
										<li><a href="#" class="color-3"></a></li>
										<li><a href="#" class="color-4"></a></li>
										<li><a href="#" class="color-5"></a></li>
										<li><a href="#" class="color-6"></a></li>
										<li><a href="#" class="color-7"></a></li>
										<li><a href="#" class="color-8"></a></li>
										<li><a href="#" class="color-9"></a></li>
										<li><a href="#" class="color-10"></a></li>
										<li><a href="#" class="color-11"></a></li>
										<li><a href="#" class="color-12"></a></li>
										<li><a href="#" class="color-13"></a></li>
										<li><a href="#" class="color-14"></a></li>
									</ul>
								</div>
							</div>
							<!-- Sidebar single item -->
							<div class="sidebar-widget">
								<h4 class="sidebar-title">Kích thước</h4>
								<div class="sidebar-widget-size">
									<li><a href="/product/listall" class="selected m-0">
											All <span>([[${count}]])</span>
									</a></li>
									<ul th:each="size: ${loadsize}">

										<li><a th:href="@{'/product/finbysize/' + ${size.size}}"
											class="">[[${size.size}]] <span>
													([[${size.count}]])</span>
										</a></li>

									</ul>
								</div>
							</div>
							<!-- Sidebar single item -->
							<div class="sidebar-widget">
								<h4 class="sidebar-title">Hãng</h4>
								<div class="sidebar-widget-brand">
									<ul th:each="b : ${load}">
										<li><a th:href="@{'/product/finbybrand/' + ${b.name}}"
											class="selected m-0"> [[${b.name}]]<span>([[${b.count}]])</span></a></li>
									</ul>
								</div>
							</div>
							<!-- Sidebar single item -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal customize-class fade" id="exampleModal-Cart"
			tabindex="-1" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body text-center">
						<button type="button" class="btn-close "
							style="margin-left: 200px" data-bs-dismiss="modal"
							aria-label="Close">
							<i class="pe-7s-close"></i>
						</button>
						<div class="tt-modal-messages">
							<i class="pe-7s-check"></i> Added to cart successfully!
						</div>
						<div class="tt-modal-product">
							<div class="tt-img">
								<img ng-src="{{'/assets/images/' + form.image}}"
									alt="Modern Smart Phone">
							</div>
							<h2 class="tt-title">
								<a href="#">{{form.name}}</a>
							</h2>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="modal customize-class fade" id="exampleModal-Wishlist"
			tabindex="-1" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body text-center">
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close">
							<i class="pe-7s-close"></i>
						</button>
						<div class="tt-modal-messages">
							<i class="pe-7s-check"></i> Đã thêm vào danh sách yêu thích thành công!
						</div>
						<div class="tt-modal-product"> <div class="tt-img"> <img ng-src="{{'/assets/images/' + form.image}}" alt="Modern Smart Phone"> </div> <h2 class="tt-title"><a href="#">{{form.name}}</a></h2> </div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal customize-class fade" id="exampleModal-Compare"
			tabindex="-1" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body text-center">
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close">
							<i class="pe-7s-close"></i>
						</button>
						<div class="tt-modal-messages">
							<i class="pe-7s-check"></i> Đã thêm vào giỏ hàng thành công thành công!
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<div class="modal modal-2 fade" id="exampleModal" tabindex="-1"
			role="dialog">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close">
							<i class="pe-7s-close"></i>
						</button>
						<div class="row">
							<div
								class="col-lg-6 col-sm-12 col-xs-12 mb-lm-30px mb-md-30px mb-sm-30px">
								<!-- Swiper -->
								<div class="swiper-container gallery-top">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<img class="img-responsive m-auto"
												src="assets/images/product-image/zoom-image/1.webp" alt="">
										</div>
										<div class="swiper-slide">
											<img class="img-responsive m-auto"
												src="assets/images/product-image/zoom-image/2.webp" alt="">
										</div>
										<div class="swiper-slide">
											<img class="img-responsive m-auto"
												src="assets/images/product-image/zoom-image/3.webp" alt="">
										</div>
										<div class="swiper-slide">
											<img class="img-responsive m-auto"
												src="assets/images/product-image/zoom-image/4.webp" alt="">
										</div>
										<div class="swiper-slide">
											<img class="img-responsive m-auto"
												src="assets/images/product-image/zoom-image/5.webp" alt="">
										</div>
									</div>
								</div>
								<div
									class="swiper-container gallery-thumbs mt-20px slider-nav-style-1 small-nav">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<img class="img-responsive m-auto"
												src="assets/images/product-image/small-image/1.webp" alt="">
										</div>
										<div class="swiper-slide">
											<img class="img-responsive m-auto"
												src="assets/images/product-image/small-image/2.webp" alt="">
										</div>
										<div class="swiper-slide">
											<img class="img-responsive m-auto"
												src="assets/images/product-image/small-image/3.webp" alt="">
										</div>
										<div class="swiper-slide">
											<img class="img-responsive m-auto"
												src="assets/images/product-image/small-image/4.webp" alt="">
										</div>
										<div class="swiper-slide">
											<img class="img-responsive m-auto"
												src="assets/images/product-image/small-image/5.webp" alt="">
										</div>
									</div>
									<!-- Add Arrows -->
									<div class="swiper-buttons">
										<div class="swiper-button-next"></div>
										<div class="swiper-button-prev"></div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-sm-12 col-xs-12" data-aos="fade-up"
								data-aos-delay="200">
								<div class="product-details-content quickview-content">
									<h2>Modern Smart Phone</h2>
									<div class="pricing-meta">
										<ul class="d-flex">
											<li class="new-price">$20.90</li>
										</ul>
									</div>
									<div class="pro-details-rating-wrap">
										<div class="rating-product">
											<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
												class="fa fa-star"></i> <i class="fa fa-star"></i> <i
												class="fa fa-star"></i>
										</div>
										<span class="read-review"><a class="reviews" href="#">(
												2 Review )</a></span>
									</div>
									<p class="mt-30px">Lorem ipsum dolor sit amet, consecte
										adipisicing elit, sed do eiusmll tempor incididunt ut labore
										et dolore magna aliqua. Ut enim ad mill veniam, quis nostrud
										exercitation ullamco laboris nisi ut aliquip exet commodo
										consequat. Duis aute irure dolor</p>
									<div
										class="pro-details-categories-info pro-details-same-style d-flex m-0">
										<span>SKU:</span>
										<ul class="d-flex">
											<li><a href="#">Ch-256xl</a></li>
										</ul>
									</div>
									<div
										class="pro-details-categories-info pro-details-same-style d-flex m-0">
										<span>Categories: </span>
										<ul class="d-flex">
											<li><a href="#">Smart Device, </a></li>
											<li><a href="#">ETC</a></li>
										</ul>
									</div>
									<div
										class="pro-details-categories-info pro-details-same-style d-flex m-0">
										<span>Tags: </span>
										<ul class="d-flex">
											<li><a href="#">Smart Device, </a></li>
											<li><a href="#">Phone</a></li>
										</ul>
									</div>
									<div class="pro-details-quality">
										<div class="cart-plus-minus">
											<input class="cart-plus-minus-box" type="text"
												name="qtybutton" value="1" />
										</div>
										<div class="pro-details-cart">
											<button class="add-cart">Add To Cart</button>
										</div>
										<div
											class="pro-details-compare-wishlist pro-details-wishlist ">
											<a href="wishlist.html"><i class="pe-7s-like"></i></a>
										</div>
									</div>
									<div class="payment-img">
										<a href="#"><img src="assets/images/icons/payment.png"
											alt=""></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>
