<div class="card ">
	<table class="table">
		<thead>
			<tr style="font-size: 10px">
				<th scope="col">Id</th>
				<th scope="col">Số tiền giảm giá</th>
				<th scope="col">Mã giảm giá</th>
				<th scope="col">Người dùng tối đa</th>
				<th scope="col">Ngày bắt đầu</th>
				<th scope="col">Ngày kết thúc</th>
				<th scope="col">Trạng thái</th>
				<th scope="col">Sản phẩm</th>
				<th scope="col">Người dùng</th>
			<tr></tr>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in pager.items">
				<th scope="col">{{item.id}}</th>
				<th scope="col">{{item.discountAmount}}</th>
				<th scope="col">{{item.voucherCode}}</th>
				<th scope="col">{{item.maxUser}}</th>
				<th scope="col">{{item.startDate | date:'dd-MM-yyyy'}}</th>
					<th scope="col">{{item.endDate | date:'dd-MM-yyyy'}}</th>
					<th scope="col">{{item.status ? 'yes':'no'}}</th>
				<th scope="col">{{item.product.name}}</th>
				<th scope="col">{{item.user.username}}</th>
				
				<td>
					<div class="btn-group btn-group-xs">
						<button ng-click="edit(item)" type="button" class="btn"
							style="font-size: 15px; width: 80px; height: 30px; display: grid; align-content: center; background-color: yellow; margin: 5px">
							<i class="fa-solid fa-pen"></i>
						</button>
						<button ng-click="delete(item)" type="button" class="btn"
							style="font-size: 15px; width: 80px; height: 30px; display: grid; align-content: center; background-color: red; margin: 5px">
							<i class="fa-solid fa-trash-can"></i>
						</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="card-footer tetx-center">
		<button ng-click="pager.first()" type="button"
			class="btn btn-outline-primary"
			style="background-color: #27b2e7; width: 150px; color: #fdfdff; font-size: 35px;">
			<i class="fa-solid fa-angles-left"></i>
		</button>
		<button ng-click="pager.prev()" type="button"
			class="btn btn-outline-success"
			style="background-color: #27b2e7; width: 150px; color: #fdfdff; font-size: 35px;">
			<i class="fa-solid fa-angle-left"></i>
		</button>
		<button class="btn btn-primary" style="font-size: 15px">{{pager.page
			+ 1}} of {{pager.count}}</button>
		<button ng-click="pager.next()" type="button"
			class="btn btn-outline-warning"
			style="background-color: #27b2e7; width: 150px; color: #fdfdff; font-size: 35px;">
			<i class="fa-solid fa-angle-right"></i>
		</button>
		<button ng-click="pager.last()" type="button"
			class="btn btn-outline-info"
			style="background-color: #27b2e7; width: 150px; color: #fdfdff; font-size: 35px;">
			<i class="fa-solid fa-angles-right"></i>
		</button>

	</div>
</div>