<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
	<meta charset="UTF-8">
<body>
	<main>
	<form th:action="@{/reset_password}" method="post" style="max-width: 350px; margin: 0 auto; margin-bottom: 20px">
		<input type="hidden" name="token" th:value="${token}" />
		<div class="border border-secondary rounded p-3">
			<div>
				<p>
					<input type="password" name="password" id="password"
						class="form-control" placeholder="Enter your new password"
						required autofocus />
				</p>
				<p>
					<input type="password" class="form-control mt-2"
						placeholder="Confirm your new password" required
						oninput="checkPasswordMatch(this);" />
				</p>
				<p class="text-center mt-4">
					
					<button style="background-color: #7B68EE" class="d-grid w-100">Đổi mật khẩu</button>
				</p>
			</div>
		</div>
	</form>
	<script>
		function checkPasswordMatch(fieldConfirmPassword) {
			if (fieldConfirmPassword.value != $("#password").val()) {
				fieldConfirmPassword
						.setCustomValidity("mật khẩu không hợp lệ!");
			} else {
				fieldConfirmPassword.setCustomValidity("");
			}
		}
	</script>
	</main>
</body>
</html>
